.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    /* opacity: 0; */
    transform: none !important;
    min-width: 100%;
    max-height: 30%;
}
         
